.Box1{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;

	padding: 3% 3%;

}

.Cat{
	width: 20%;
	margin: 1%;
	align-content: center;
	justify-content: center;
	cursor: pointer;

}

.TextCat{
	width: 80%;
	height: 20%;
	border-radius: 25px;
	align-self: center;
	align-content: center;
	font-size: 170%;
	justify-content: center;
	font-weight: bold;
	align-self: center;

}

.TextCat1{   /*Geografia */
	background-color: #105699;
	border-color: #03498c;
	color:#ffffff;
	text-align: center;
	font-size: 100%;
}
.TextCat2{  /* Cultura y Arte */  
	background-color: #B51D54;
	border-color: #03498c;
	color:#ffffff;
	text-align: center;

}
.TextCat3{  /* Historia */ 
	background-color: #BBA730;
	border-color: #03498c;
	color:#ffffff;
	text-align: center;

}
.TextCat4{  /* Deporte */
	background-color: #D07E1C;
	border-color: #03498c;
	color:#ffffff;
	text-align: center;

}
.TextCat5{  /* Economia */
	background-color: #65318A;
	border-color: #03498c;
	color:#ffffff;
	text-align: center;

}
.TextCat6{  /* Ciencia y Educacion */
	background-color: #16954D;
	border-color: #03498c;
	color:#ffffff;
	text-align: center;

}
.TextCat7{  /* Entreteniminto */
	background-color: #B43D81;
	border-color: #03498c;
	color:#ffffff;
	text-align: center;
}