@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --body-font: "Quicksand", sans-serif;
  --color-light-blue: rgb(149,200,233);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid rgba(229,231,235);
  -webkit-text-fill-color: black;
  transition: background-color 5000s ease-in-out 0s;
}

*{
  color: #111827;
  font-family: var(--body-font);
}

.logo {
  width: 4rem;
}

.contenedorPadre {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; 
  background-color: #E1E1E1;

  flex-direction: row;
  justify-content: space-between;
}


.contenedor{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: space-between; 
}

.Boton_Login{
  padding: 3px;
  padding-left: 10px;
  padding-right: 25px; 
  color: white;
  cursor: pointer;

  background: -webkit-linear-gradient(right,#2FECC1,#3BF5E6,#2FEC52);

  border-radius: 35px;
  font-weight: bold;
  font-size: large;
  width: 125px; 
  text-align: center;
}

.Nombre{
  color: #1053DB;
  font-weight: bold;
  padding-left: 7%;
  font-size: xx-large;
}

.contenedorPie{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; 
  background-color: #E1E1E1;

  flex-direction: row;
  justify-content: space-between;
}