{%extends 'Base.html'%}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

  <head>
    {% block titulo %} PregunChaco | Categorias {% endblock titulo %}
  </head>

{% block contenido %}

<div class="text-center">
  <h1 class="font-bold text-3xl md:text-5xl m-3 mb-5 ">Elige una categoria</h1>
  <a href="{% url 'modo' %}" class="bg-blue-400 hover:bg-blue-500 text-xl p-3 mt-4 text-white rounded-xl bg-gradient-to-r from-green-400 to-blue-400 hover:from-green-500 hover:to-blue-500">
    Volver
  </a>

<div class="Box1 mt-4 grid grid-cols-2 justify-items-center md:flex">
    
    <!-- CARGA LAS CATEGORIAS DESDE LA BASE DE DATOS -->
    {% for c in categorias %}
      <div class="w-3/4 md:w-96 Cat Categoria{{c.id}} animate__animated animate__flipInX">
        <a href="{% url 'pregunta:jugar' c.id  %}">
          <img src="{% static ''%}img/game/categorias/personaje_{{c.id}}.svg">
        </a>
        <p class="text-sm p-3 w-full h-auto md:text-3xl md:p-10 TextCat TextCat{{c.id}}">{{c}}</p>
      </div>
    {% endfor %}
  	
  </div>
</div>

{% endblock contenido %}

</body>
</html>


