{%extends 'Base.html'%}
{% load static %}
  <head>
    {% block titulo %} PregunChaco | ¿Como Jugar? {% endblock titulo %}
  </head>
<body>

  {% block contenido %}
  <div class="container grid grid-cols-2 mx-auto container_inicio">

    <div class="self-center grid shadow-2xl p-10 rounded-3xl">
      <h1 class="col-span-4 font-bold text-5xl text-bold">¿Cómo Jugar?</h1>
      <p class="col-span-4 mt-4 text-2xl">
        Selecciona el modo de juego, puedes elegir las categorias o puedes dejar que el azar te elija una. <br>
        Las categorias de preguntas son: Ciencia y Educación, Geografia, Historia
        Entrenamiento, Deportes, Economia, Cultura y Arte.<br>
        El tipo de juego es trivial y puede tener una o más respuestas correctas,
        solo tienes que estar atento!
      </p>
      <a href="{% url 'home' %}" class="text-center text-xl p-3 mt-4 text-white rounded-xl bg-blue-400 shadow-lg hover:bg-blue-500">
        Volver al Inicio
      </a>
    </div>

    <div class="grid grid-cols-4 content-center">
      <img src="{% static 'img/game/personaje1.svg' %}" alt="Jugar" class="col-span-4 mx-auto w-1/2">
      <a href="{% url 'modo' %}"
          class="animate-pulse text-center shadow-lg col-start-2 col-span-2 font-bold text-6xl p-3 text-white rounded-xl bg-blue-400 hover:bg-blue-500">
          Jugar
      </a>
    </div>
  </div>
  
  {% endblock contenido %}
</body>
</html>