{%extends 'Base.html'%}
{% load static %}
  <head>
    {% block titulo %} PregunChaco | ¿Como Jugar? {% endblock titulo %}
  </head>
<body>

  {% block contenido %}
  <div class="container grid grid-cols-2 mx-auto container_inicio">

    <div class="p-2 self-center grid shadow-2xl p-10 rounded-3xl animate__animated animate__bounceInLeft">
      <h1 class="col-span-4 font-bold text-5xl text-bold">¿Cómo Jugar?</h1>
      <p class="col-span-4 mt-4 text-xl">
        Selecciona el modo de juego, puedes elegir las categorias o puedes dejar que el azar te elija una. <br>
        Las categorias de preguntas son: Ciencia y Educación, Geografia, Historia
        Entrenamiento, Deportes, Economia, Cultura y Arte.<br>
        El tipo de juego es trivial y puede tener una o más respuestas correctas,
        solo tienes que estar atento!
      </p>
      <a href="{% url 'home' %}" class="text-center text-xl p-3 px-8 mt-4 text-white rounded-full shadow-lg bg-gradient-to-r from-green-400 to-blue-400 hover:from-green-500 hover:to-blue-500">
        Ir al inicio
      </a>
    </div>

    <div class="grid grid-cols-4 content-center animate__animated animate__fadeIn">
      <img src="{% static 'img/game/personaje1.svg' %}" alt="Jugar" class="col-span-4 mx-auto w-1/2">
      <a href="{% url 'modo' %}"
          class="text-center shadow-lg col-start-2 col-span-2 font-bold text-4xl py-3 pb-4 text-white rounded-full bg-green-600 hover:bg-green-700">
          Jugar
      </a>
    </div>
  </div>
  
  {% endblock contenido %}
</body>
</html>