{%extends 'Base.html'%}
{% load static %}

<head>
  {% block titulo %} PregunChaco | Modo {% endblock titulo %}
</head>

{% block contenido %}
{% if user.is_authenticated %}
<div class="text-center">
  <h1 class="font-bold text-3xl md:text-5xl mt-3 mb-5">Elige un Modo</h1>
  <a href="{% url 'inicio' %}" class="bg-blue-400 hover:bg-blue-500 text-xl p-3 text-white rounded-xl bg-gradient-to-r from-green-400 to-blue-400 hover:from-green-500 hover:to-blue-500">
    Volver
  </a>

  	<div class="Box2 grid grid-cols-1 justify-items-center md:flex">
  		<div class="mt-4 md:mt-0 w-56 md:w-1/4 Modo Modo1 animate__animated animate__flipInX">
  			<a href="{% url 'pregunta:jugar' Cat  %}">
  				<img src="{% static 'img/game/Modo/cat_personajes_01.svg' %}">
  			</a>
  		</div>
  		<div class="mt-6 w-56 md:w-1/4 Modo Modo2 animate__animated animate__flipInX"> 
  			<a href="{% url 'pregunta:categoria' %}">
  				<img src="{% static 'img/game/Modo/cat_personajes_02.svg' %}">
  			</a>
  		</div>

  	</div>

</div>

{% else %}

<p class="text-center mt-4">
  No tienes permisos para ver esta sección!
  <a href="{% url 'home' %}" class="text-blue-500">Inicia Sesión</a>
</p>

{% endif %}

{% endblock contenido %}