{%extends 'Base.html'%}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  {% block titulo %} PregunChaco | Juego {% endblock titulo %}
</head>
<body>
	{% block contenido %}

    {% if pregunta is None %}
      <div class="container1 text-center mt-4 animate__animated animate__fadeIn">
        <div class="text-xl">
          <h3>
            Respondiste todas las preguntas. Mira la tabla de posiciones
            <a href="{% url 'pregunta:tabla' %}" class="text-white bg-blue-400 rounded px-1">aquí</a>
          </h3>
        </div>


        <!-- inicio Puntuación de la partida -->
        <div class="text-xl text-center mt-2">

          {% if JugadorUser.puntaje_total == None %}
            <h3 class="font-bold text-xl">Puntuación total de esta partida</h3>
            <p class='font-bold text-4xl text-blue-400 animate__animated animate__backInRight'>0</p>
            <!-- <img src="{%static 'img/base/carpincho-mate.svg'%}" alt="completado" class="mx-auto w-1/4 mt-10"> -->
          {% else %}
            <h3 class="font-bold text-xl">Puntuación total de esta partida</h3>
            <p class='font-bold text-4xl text-blue-400 animate__animated animate__backInRight'>{{JugadorUser.puntaje_total}}</p>
            <!-- <img src="{%static 'img/base/carpincho-mate.svg'%}" alt="completado" class="mx-auto w-1/4 mt-10"> -->
          {% endif %}

        </div>
        <!-- fin Puntuación de la partida -->
      </div>
    {% else %}

    <div class="container2">

      <div class="Sub Sub1">
          <img src="{% static ''%}img/game/categorias/personaje_{{cat}}.svg" class="Imag"> 
          <p class="TextCat TextCat{{cat}}">
              {% if cat == 1 %}
              Geografia
              {% elif cat == 2 %}
              Cultura y Arte 
              {% elif cat == 3 %}
              Historia
              {% elif cat == 4 %}
              Deporte
              {% elif cat == 5 %}
              Economia
              {% elif cat == 6 %}
              Ciencia y Educacion
              {% elif cat == 7 %}
              Entretenimiento
              {% endif %}
          </p>
      </div>
        <div class="Sub Sub2">
          <div class="Preg shadow-lg">
           <h3 class="text-2xl">
          {{pregunta.texto}}
            </h3> <br>
          </div>
          <h1 class="Resp text-2xl my-4">    Respuestas:</h1>
         <form method="POST" id="form-respuesta" class="animate__animated animate__bounceIn">
          {% csrf_token %}
            <input type="hidden" name='pregunta_pk' value="{{pregunta.pk}}" class="Quiz">
            {% for opcion in pregunta.opcion.all %}
              <label for="choice-{{forloop.counter}}" class="Res">
                <input type="radio" name="respuesta_pk" value="{{opcion.pk}}" id="choice-{{forloop.counter}}" class="Rad">
                <span class="check"> {{opcion.texto}} </span>
              </label>
              <br>
            {% endfor %}
              <br>
             </div>
            <br>
             <button type="submit" class="BEnviar">Enviar</button>

          <!-- Inicio alerta de Seleccione una opción -->
          <div class="row justify-content-center ml-2 p-0" id="alert">
              <p></p>
          </div>
          <!-- fin alerta de Seleccione una opción -->

        </form>
      </div> 
    </div>
    {% endif %}
  {% endblock contenido %}

  {% block script %}
  <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
  {% endblock script %}
</body>
</html>