{%extends 'Base.html'%}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  {% block titulo %}PregunChaco{% endblock titulo %}
</head>
<body>
	{% block contenido %}

    {% if pregunta is None %}
      <div class="container1">
        <div>
          <h1>
            Respondiste todas las preguntas. Mira la tabla de posiciones.
          </h1>

          <a href="{% url 'pregunta:tabla' %}">ver Aqui</a>
        </div>
      </div>

    {% else %}

    <div class="container2">

      <div class="Sub Sub1">
          <img src="{% static ''%}img/game/categorias/personaje_{{cat}}.svg" class="Imag"> 
          <p class="TextCat TextCat{{cat}}">
              {% if cat == 1 %}
              Geografia
              {% elif cat == 2 %}
              Cultura y Arte 
              {% elif cat == 3 %}
              Historia
              {% elif cat == 4 %}
              Deporte
              {% elif cat == 5 %}
              Economia
              {% elif cat == 6 %}
              Ciencia y Educacion
              {% elif cat == 7 %}
              Entreteniminto
              {% endif %}
          </p>
      </div>
        <div class="Sub Sub2">
          <div class="Preg">
           <h3>
          {{pregunta.texto}}
            </h3> <br>
          </div>
         <form method="POST">
          {% csrf_token %}
            <input type="hidden" name='pregunta_pk' value="{{pregunta.pk}}" class="Quiz">
            {% for opcion in pregunta.opcion.all %}
              <label for="choice-{{forloop.counter}}" class="Res">
                <input type="radio" name="respuesta_pk" value="{{opcion.pk}}" id="choice-{{forloop.counter}}" class="Rad">
                <span class="check"> {{opcion.texto}} </span>
              </label>
              <br>
            {% endfor %}
              <br>
             </div>
            <br>
             <button type="submit" class="BEnviar">Enviar</button>
        </form>
      </div> 
    </div>
    {% endif %}
  {% endblock contenido %}
</body>
</html>