{%extends 'Base.html'%}
{% load static %}

  <head>
    {% block titulo %} PregunChaco | Resultado {% endblock titulo %}
  </head>
{% block contenido %}

<div class="container2">

      <div class="Sub Sub1 hidden md:block">
          <img src="{% static ''%}img/game/categorias/personaje_{{respondida.pregunta.categorias.id}}.svg" class="Imag"> 
          <p class="TextCat TextCat{{respondida.pregunta.categorias.id}}">
              {% if respondida.pregunta.categorias.id == 1 %}
              Geografia
              {% elif respondida.pregunta.categorias.id == 2 %}
              Cultura y Arte 
              {% elif respondida.pregunta.categorias.id == 3 %}
              Historia
              {% elif respondida.pregunta.categorias.id == 4 %}
              Deporte
              {% elif respondida.pregunta.categorias.id == 5 %}
              Economia
              {% elif respondida.pregunta.categorias.id == 6 %}
              Ciencia y Educacion
              {% elif respondida.pregunta.categorias.id == 7 %}
              Entreteniminto
              {% endif %}
          </p>
      </div>
        <div class="Sub Sub2 w-full md:w-1/2 animate__animated animate__fadeIn">
          <div class="Preg shadow-lg">
           <h3 class="text-xl md:text-2xl">
            {{respondida.pregunta.texto|safe}}
            </h3> <br>
          </div>
            <h2 class="Resp text-2xl mt-4">    Respuestas:</h2>
            {% if respondida.respuesta.correcta %}
              {% for opcion in  respondida.pregunta.opcion.all %}
                 {% if opcion.correcta %}

                <label for="choice-{{forloop.counter}}" class="grid">
                  <span class="ReC text-white text-xl p-2 md:text-2xl"> {{opcion.texto}} </span>
                </label>

                 {% else %}  

                <label for="choice-{{forloop.counter}}" class="grid">
                  <span class="check2 text-xl p-2 md:text-2xl"> {{opcion.texto}} </span>
                </label>

                 {% endif %}  
              {% endfor %}
            {% else %}
                {% for opcion in  respondida.pregunta.opcion.all %}
                {% if opcion.correcta %}

                <label for="choice-{{forloop.counter}}" class="grid">
                  <span class="ReC text-white text-xl p-2 md:text-2xl"> {{opcion.texto}} </span>
                </label>

                 {% elif respondida.respuesta.texto|safe == opcion.texto %}  

                <label for="choice-{{forloop.counter}}" class="grid">
                  <span class="ReI text-white text-xl p-2 md:text-2xl"> {{opcion.texto}} </span>
                </label>

                 {% else %}  

                <label for="choice-{{forloop.counter}}" class="grid">
                  <span class="check2 text-xl p-2 md:text-2xl"> {{opcion.texto}} </span>

                {% endif %}  
             {% endfor %}
            {% endif %}  
            </div>
                <!-- continuar a la siguiente pregunta -->
  <a href="{% url 'pregunta:jugar' respondida.pregunta.categorias.id  %}">
    <button class="relative mt-10 lg:absolute BotonS ">
      Siguiente
    </button>
  </a>
          </div>




<!--
<div class="grid grid-cols-2 p-2">
  <h3>{{respondida.pregunta.texto|safe}}</h3>
  <p>
    <strong>Tu respuesta:</strong>
    {{respondida.respuesta.texto|safe}}
  </p>

   Si la respuesta es Correcta 
  {% if respondida.respuesta.correcta %}

  <span class="text-white bg-green-500 w-24">Respuesta Correcta!</span>
  -->
  <!-- Si la respuesta es Incorrecta 
  {% else %}

  <h4 class="text-white bg-red-500 w-24">Respuesta Incorrecta!</h4>

  {% for respuesta in respondida.pregunta.opcion.all %}

  {% if respuesta.correcta %}

  <h4>La respuesta correcta es: <span class="text-white bg-green-500">{{respuesta}}</span></h4>

  {% endif %}

  {% endfor %}

  {% endif %}



</div>
-->

{% endblock contenido %}
<script type="text/javascript" src="{%static 'js/index.js'%}"></script>