{%extends 'Base.html'%}
{% load static %}


<title>{% block titulo %} Mejores Jugadores | PregunChaco {% endblock titulo %}</title>

{%block contenido%}
<h1 class="text-center my-4"> 
  <span class="bg-green-600 text-white p-3 rounded-3xl">

    Los {{contar_user}} Mejores jugadores
    
  </span>
</h1>

<table class="border-separate border border-green-800 mx-auto">
  <thead>
    <tr>
      <th class="border border-green-600 p-3">Posicion</th>
      <th class="border border-green-600 p-3">Usuario</th>
      <th class="border border-green-600 p-3">Puntaje</th>
    </tr>
  </thead>
  <tbody>
    {% for jugador in total_jugadores %}
      <tr>
        <td class="border border-green-600 p-3">{{forloop.counter}}</td>
        <td class="border border-green-600 p-3">{{jugador.jugador.username}}</td>
        <td class="border border-green-600 p-3">{{jugador.puntaje_total}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<ul class="text-center">
  <li class="mt-4">
    <a href="{% url 'home' %}" class="bg-blue-400 hover:bg-blue-500 text-xl p-3 text-white rounded-xl">
      Ir al inicio
    </a>
  </li>
  <li class="mt-8">
    <a href="{% url 'modo' %}" class="bg-blue-400 hover:bg-blue-500 text-xl p-3 text-white rounded-xl">
      Jugar de nuevo
    </a>
  </li>
</ul>


{%endblock contenido%}