{%extends 'Base.html'%}
{% load static %}



  {% block titulo %} PregunChaco | Mejores Jugadores {% endblock titulo %}


{%block contenido%}
{% if user.is_authenticated %}
<div class="mt-10">
  <h1 class="text-center my-4"> 
    <span class="text-2xl font-bold animate__animated animate__fadeIn">
  
      Los {{contar_user}} Mejores jugadores
      
    </span>
  </h1>
  
  <table class="border-separate mx-auto shadow-lg animate__animated animate__flipInX my-10">
    <thead>
      <tr>
        <th class="p-3">Posicion</th>
        <th class="p-3">Usuario</th>
        <th class="p-3">Puntaje</th>
      </tr>
    </thead>
    <tbody>
      {% for jugador in total_jugadores %}
        <tr>
          <td class="border-t p-3 text-center">{{forloop.counter}}</td>
          <td class="border-t p-3 text-center">{{jugador.jugador.username}}</td>
          {% if jugador.mejor_puntuacion == None %}
          <td class="border-t p-3 text-center">0</td>
          {% else %}
          <td class="border-t p-3 text-center">{{jugador.mejor_puntuacion}}</td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <ul class="text-center my-5 animate__animated animate__fadeIn">
    <li class="mt-4">
      <a href="{% url 'home' %}" class="bg-gradient-to-r from-green-400 to-blue-400 hover:from-green-500 hover:to-blue-500 text-lg py-3 px-14 text-white rounded-3xl shadow-md">
        Inicio
      </a>
    </li>
    <li class="mt-8">
      <a href="{% url 'modo' %}" class="bg-gradient-to-r from-green-400 to-blue-400 hover:from-green-500 hover:to-blue-500 text-lg p-3 px-14 text-white rounded-3xl shadow-md">
        Jugar
      </a>
    </li>
  </ul>
</div>

{% else %}

<p class="text-center mt-4">
  No tienes permisos para ver esta sección!
  <a href="{% url 'home' %}" class="text-blue-500">Inicia Sesión</a>
</p>

{% endif %}



{%endblock contenido%}