{%extends 'Base.html'%}
{% load static %}
<!DOCTYPE html>
<html>

<head>
  {% block titulo %}Inicio | PregunChaco{% endblock titulo %}
</head>

<body>
  {% block contenido %}

  <div class="Container">
    <div class="Box Hijo1">
      <h1 class="Titulo1">PregunChaco</h1>
      <p class="Texto1">Esta es una Páguina web desarrollada por alumnos del informatorio del año 2021 <br> ¡Espero que lo disfruten!</p>
      <img src="{% static 'img/home/carpincho.svg' %}" alt="carpincho" class="ImagenCarpincho">
    </div>
    <div class="Box Hijo2">
      <div class="Recuadro">
        {% block Recuadro %}

        {% endblock Recuadro %}
      </div>
    </div>
  </div>


  {% endblock contenido %}
</body>


  
</html>